#include "ResourceIds.hpp"

APPLICATION_ICON				ICON	"icons/vse.ico"

FOLDERCLOSED_ICON				BITMAP	"icons/node_tree/FolderClosed.bmp"
FOLDEROPENED_ICON				BITMAP	"icons/node_tree/FolderOpened.bmp"

TOOLBAR_ENABLED_NEW_ICON		BITMAP	"icons/toolbar/enabled/New.bmp"
TOOLBAR_ENABLED_OPEN_ICON		BITMAP	"icons/toolbar/enabled/Open.bmp"
TOOLBAR_ENABLED_SAVE_ICON		BITMAP	"icons/toolbar/enabled/Save.bmp"
TOOLBAR_ENABLED_UNDO_ICON		BITMAP	"icons/toolbar/enabled/Undo.bmp"
TOOLBAR_ENABLED_REDO_ICON		BITMAP	"icons/toolbar/enabled/Redo.bmp"
TOOLBAR_ENABLED_SETTINGS_ICON	BITMAP	"icons/toolbar/enabled/Settings.bmp"
TOOLBAR_ENABLED_COPY_ICON		BITMAP	"icons/toolbar/enabled/Copy.bmp"
TOOLBAR_ENABLED_PASTE_ICON		BITMAP	"icons/toolbar/enabled/Paste.bmp"
TOOLBAR_ENABLED_DELETE_ICON		BITMAP	"icons/toolbar/enabled/Delete.bmp"
TOOLBAR_ENABLED_GROUP_ICON		BITMAP	"icons/toolbar/enabled/Group.bmp"
TOOLBAR_ENABLED_UNGROUP_ICON	BITMAP	"icons/toolbar/enabled/Ungroup.bmp"

TOOLBAR_DISABLED_NEW_ICON		BITMAP	"icons/toolbar/disabled/New.bmp"
TOOLBAR_DISABLED_OPEN_ICON		BITMAP	"icons/toolbar/disabled/Open.bmp"
TOOLBAR_DISABLED_SAVE_ICON		BITMAP	"icons/toolbar/disabled/Save.bmp"
TOOLBAR_DISABLED_UNDO_ICON		BITMAP	"icons/toolbar/disabled/Undo.bmp"
TOOLBAR_DISABLED_REDO_ICON		BITMAP	"icons/toolbar/disabled/Redo.bmp"
TOOLBAR_DISABLED_SETTINGS_ICON	BITMAP	"icons/toolbar/disabled/Settings.bmp"
TOOLBAR_DISABLED_COPY_ICON		BITMAP	"icons/toolbar/disabled/Copy.bmp"
TOOLBAR_DISABLED_PASTE_ICON		BITMAP	"icons/toolbar/disabled/Paste.bmp"
TOOLBAR_DISABLED_DELETE_ICON	BITMAP	"icons/toolbar/disabled/Delete.bmp"
TOOLBAR_DISABLED_GROUP_ICON		BITMAP	"icons/toolbar/disabled/Group.bmp"
TOOLBAR_DISABLED_UNGROUP_ICON	BITMAP	"icons/toolbar/disabled/Ungroup.bmp"

TREE_BOOLEAN_ICON				BITMAP	"icons/node_tree/Boolean.bmp"
TREE_INTEGER_ICON				BITMAP	"icons/node_tree/Integer.bmp"
TREE_DOUBLE_ICON				BITMAP	"icons/node_tree/Double.bmp"
TREE_INTEGERINCREMENTED_ICON	BITMAP	"icons/node_tree/IntegerIncremented.bmp"
TREE_DOUBLEINCREMENTED_ICON		BITMAP	"icons/node_tree/DoubleIncremented.bmp"
TREE_DOUBLEDISTRIBUTED_ICON		BITMAP	"icons/node_tree/DoubleDistributed.bmp"
TREE_ADDITION_ICON				BITMAP	"icons/node_tree/Addition.bmp"
TREE_SUBTRACTION_ICON			BITMAP	"icons/node_tree/Subtraction.bmp"
TREE_MULTIPLICATION_ICON		BITMAP	"icons/node_tree/Multiplication.bmp"
TREE_DIVISION_ICON				BITMAP	"icons/node_tree/Division.bmp"
TREE_LISTBUILDER_ICON			BITMAP	"icons/node_tree/ListBuilder.bmp"
TREE_VIEWER_ICON				BITMAP	"icons/node_tree/Viewer.bmp"
TREE_FLOOR_ICON					BITMAP	"icons/node_tree/Floor.bmp"
TREE_CEIL_ICON					BITMAP	"icons/node_tree/Ceil.bmp"
TREE_ABS_ICON					BITMAP	"icons/node_tree/Abs.bmp"
TREE_NEGATIVE_ICON				BITMAP	"icons/node_tree/Negative.bmp"
TREE_SQRT_ICON					BITMAP	"icons/node_tree/Sqrt.bmp"

CANVAS_BOOLEAN_ICON				IMAGE	"icons/node_canvas/Boolean.png"
CANVAS_INTEGER_ICON				IMAGE	"icons/node_canvas/Integer.png"
CANVAS_DOUBLE_ICON				IMAGE	"icons/node_canvas/Double.png"
CANVAS_INTEGERINCREMENTED_ICON	IMAGE	"icons/node_canvas/IntegerIncremented.png"
CANVAS_DOUBLEINCREMENTED_ICON	IMAGE	"icons/node_canvas/DoubleIncremented.png"
CANVAS_DOUBLEDISTRIBUTED_ICON	IMAGE	"icons/node_canvas/DoubleDistributed.png"
CANVAS_ADDITION_ICON			IMAGE	"icons/node_canvas/Addition.png"
CANVAS_SUBTRACTION_ICON			IMAGE	"icons/node_canvas/Subtraction.png"
CANVAS_MULTIPLICATION_ICON		IMAGE	"icons/node_canvas/Multiplication.png"
CANVAS_DIVISION_ICON			IMAGE	"icons/node_canvas/Division.png"
CANVAS_LISTBUILDER_ICON			IMAGE	"icons/node_canvas/ListBuilder.png"
CANVAS_VIEWER_ICON				IMAGE	"icons/node_canvas/Viewer.png"
CANVAS_FLOOR_ICON				IMAGE	"icons/node_canvas/Floor.png"
CANVAS_CEIL_ICON				IMAGE	"icons/node_canvas/Ceil.png"
CANVAS_ABS_ICON					IMAGE	"icons/node_canvas/Abs.png"
CANVAS_NEGATIVE_ICON			IMAGE	"icons/node_canvas/Negative.png"
CANVAS_SQRT_ICON				IMAGE	"icons/node_canvas/Sqrt.png"
