#include "resources.hpp"

APPLICATION_ICON				ICON	"icons/vse.ico"

FOLDERCLOSED_ICON				IMAGE	"icons/node_tree/FolderClosed.png"
FOLDEROPENED_ICON				IMAGE	"icons/node_tree/FolderOpened.png"

TREE_BOOLEAN_ICON				IMAGE	"icons/node_tree/Boolean.png"
TREE_INTEGER_ICON				IMAGE	"icons/node_tree/Integer.png"
TREE_DOUBLE_ICON				IMAGE	"icons/node_tree/Double.png"
TREE_INTEGERINCREMENTED_ICON	IMAGE	"icons/node_tree/IntegerIncremented.png"
TREE_DOUBLEINCREMENTED_ICON		IMAGE	"icons/node_tree/DoubleIncremented.png"
TREE_DOUBLEDISTRIBUTED_ICON		IMAGE	"icons/node_tree/DoubleDistributed.png"
TREE_ADDITION_ICON				IMAGE	"icons/node_tree/Addition.png"
TREE_SUBTRACTION_ICON			IMAGE	"icons/node_tree/Subtraction.png"
TREE_MULTIPLICATION_ICON		IMAGE	"icons/node_tree/Multiplication.png"
TREE_DIVISION_ICON				IMAGE	"icons/node_tree/Division.png"
TREE_LISTBUILDER_ICON			IMAGE	"icons/node_tree/ListBuilder.png"
TREE_VIEWER_ICON				IMAGE	"icons/node_tree/Viewer.png"
TREE_FLOOR_ICON					IMAGE	"icons/node_tree/Floor.png"
TREE_CEIL_ICON					IMAGE	"icons/node_tree/Ceil.png"
TREE_ABS_ICON					IMAGE	"icons/node_tree/Abs.png"
TREE_NEGATIVE_ICON				IMAGE	"icons/node_tree/Negative.png"
TREE_SQRT_ICON					IMAGE	"icons/node_tree/Sqrt.png"

BOOLEAN_ICON					IMAGE	"icons/node_canvas/Boolean.png"
INTEGER_ICON					IMAGE	"icons/node_canvas/Integer.png"
DOUBLE_ICON						IMAGE	"icons/node_canvas/Double.png"
INTEGERINCREMENTED_ICON			IMAGE	"icons/node_canvas/IntegerIncremented.png"
DOUBLEINCREMENTED_ICON			IMAGE	"icons/node_canvas/DoubleIncremented.png"
DOUBLEDISTRIBUTED_ICON			IMAGE	"icons/node_canvas/DoubleDistributed.png"
ADDITION_ICON					IMAGE	"icons/node_canvas/Addition.png"
SUBTRACTION_ICON				IMAGE	"icons/node_canvas/Subtraction.png"
MULTIPLICATION_ICON				IMAGE	"icons/node_canvas/Multiplication.png"
DIVISION_ICON					IMAGE	"icons/node_canvas/Division.png"
LISTBUILDER_ICON				IMAGE	"icons/node_canvas/ListBuilder.png"
VIEWER_ICON						IMAGE	"icons/node_canvas/Viewer.png"
FLOOR_ICON						IMAGE	"icons/node_canvas/Floor.png"
CEIL_ICON						IMAGE	"icons/node_canvas/Ceil.png"
ABS_ICON						IMAGE	"icons/node_canvas/Abs.png"
NEGATIVE_ICON					IMAGE	"icons/node_canvas/Negative.png"
SQRT_ICON						IMAGE	"icons/node_canvas/Sqrt.png"
