101	IMAGE "icons/Boolean.png"
102	IMAGE "icons/Integer.png"
103	IMAGE "icons/Double.png"
104	IMAGE "icons/IntegerIncremented.png"
105	IMAGE "icons/DoubleIncremented.png"
106	IMAGE "icons/DoubleDistributed.png"
107	IMAGE "icons/Addition.png"
108	IMAGE "icons/Subtraction.png"
109	IMAGE "icons/Multiplication.png"
110	IMAGE "icons/Division.png"
111	IMAGE "icons/ListBuilder.png"
112	IMAGE "icons/Viewer.png"
113 IMAGE "icons/Abs.png"
114 IMAGE "icons/Floor.png"
115 IMAGE "icons/Ceil.png"
