#include "resources.hpp"

BOOLEAN_ICON				IMAGE	"icons/Boolean.png"
INTEGER_ICON				IMAGE	"icons/Integer.png"
DOUBLE_ICON					IMAGE	"icons/Double.png"
INTEGERINCREMENTED_ICON		IMAGE	"icons/IntegerIncremented.png"
DOUBLEINCREMENTED_ICON		IMAGE	"icons/DoubleIncremented.png"
DOUBLEDISTRIBUTED_ICON		IMAGE	"icons/DoubleDistributed.png"
ADDITION_ICON				IMAGE	"icons/Addition.png"
SUBTRACTION_ICON			IMAGE	"icons/Subtraction.png"
MULTIPLICATION_ICON			IMAGE	"icons/Multiplication.png"
DIVISION_ICON				IMAGE	"icons/Division.png"
LISTBUILDER_ICON			IMAGE	"icons/ListBuilder.png"
VIEWER_ICON					IMAGE	"icons/Viewer.png"
FLOOR_ICON					IMAGE	"icons/Floor.png"
CEIL_ICON					IMAGE	"icons/Ceil.png"
ABS_ICON					IMAGE	"icons/Abs.png"
NEGATIVE_ICON				IMAGE	"icons/Negative.png"
SQRT_ICON					IMAGE	"icons/Sqrt.png"
